In [5]:
import pandas as pd
import numpy as np

In [6]:
## loading data ##
xtrain = pd.read_csv('Train_X_new.csv',low_memory=False)
ytrain = pd.read_csv('Train_Y_new.csv',low_memory=False)
kaggle_test = pd.read_csv('all_test_X.csv',low_memory=False)

In [7]:
## data exploration

In [8]:
## identifying possible categorical columns ##
kaggle_test.nunique()

ID                     53227
T_BI_ifFarmRelated         2
T_BI_SumLendAmount       606
T_BI_DanbaoMethod          4
T_BI_QianRate           7217
T_BI_MonthlyRate         399
T_BI_LoanUse               2
T_BI_LendTimes             5
T_BI_WeightRate         2799
T_BI_IfNonPerfLoan         2
T_BI_LoanQXValue         266
T_BI_BenchmarkRate        23
Rate                     610
FaRate                   259
RateType                   3
QXType                     3
Period                    11
IfJX                       2
Use                       14
Type                       2
InterestMethod             5
Times                    223
GiveMethond                4
IfRollOver                 2
IfReceivedInAdvance        2
IfPrecise                  2
IsFarmer                   2
IfCredit                   2
RatePrecision              6
PrecisionType              3
SilverRollFlag             2
AssureFlag                 2
BusinessKind               6
Shape                      6
Properties                 3
LoanKind                  11
JxType                     3
FKRJX                      2
IfRebate                   2
Sex                        4
Education                 10
IndividualCustomer         2
Post                       5
HomeCondition              8
Customer_IfCity            2
CredType                  10
Career                     9
MaritalStatus              9
Degree                     7
PersonTrade               20
LoanMain_TradeClass       20
dtype: int64

In [4]:
xtrain.nunique()

ID                     16698
T_BI_ifFarmRelated         2
T_BI_SumLendAmount       322
T_BI_DanbaoMethod          4
T_BI_QianRate           3187
T_BI_MonthlyRate         289
T_BI_LoanUse               2
T_BI_LendTimes             3
T_BI_WeightRate         1319
T_BI_IfNonPerfLoan         2
T_BI_LoanQXValue         142
T_BI_BenchmarkRate        23
Rate                     287
FaRate                    58
RateType                   3
QXType                     3
Period                     6
IfJX                       2
Use                       14
Type                       2
InterestMethod             5
Times                     30
GiveMethond                4
IfRollOver                 2
IfReceivedInAdvance        2
IfPrecise                  2
IsFarmer                   2
IfCredit                   2
RatePrecision              6
PrecisionType              3
SilverRollFlag             2
AssureFlag                 2
BusinessKind               4
Shape                      6
Properties                 3
LoanKind                  10
JxType                     3
FKRJX                      2
IfRebate                   2
Sex                        4
Education                 10
IndividualCustomer         2
Post                       5
HomeCondition              8
Customer_IfCity            2
CredType                  10
Career                     9
MaritalStatus              9
Degree                     7
PersonTrade               20
LoanMain_TradeClass       19
dtype: int64

In [9]:
## checking data types in the columns ##
xtrain.dtypes

ID                       int64
T_BI_ifFarmRelated       int64
T_BI_SumLendAmount       int64
T_BI_DanbaoMethod        int64
T_BI_QianRate            int64
T_BI_MonthlyRate         int64
T_BI_LoanUse             int64
T_BI_LendTimes           int64
T_BI_WeightRate          int64
T_BI_IfNonPerfLoan       int64
T_BI_LoanQXValue         int64
T_BI_BenchmarkRate       int64
Rate                     int64
FaRate                   int64
RateType                 int64
QXType                   int64
Period                   int64
IfJX                     int64
Use                      int64
Type                     int64
InterestMethod           int64
Times                    int64
GiveMethond              int64
IfRollOver               int64
IfReceivedInAdvance      int64
IfPrecise                int64
IsFarmer                 int64
IfCredit                 int64
RatePrecision          float64
PrecisionType            int64
SilverRollFlag           int64
AssureFlag               int64
BusinessKind             int64
Shape                    int64
Properties               int64
LoanKind                 int64
JxType                   int64
FKRJX                    int64
IfRebate                 int64
Sex                      int64
Education                int64
IndividualCustomer       int64
Post                     int64
HomeCondition            int64
Customer_IfCity          int64
CredType                object
Career                  object
MaritalStatus            int64
Degree                   int64
PersonTrade             object
LoanMain_TradeClass     object
dtype: object

In [6]:
xtrain.shape

(16698, 51)

In [7]:
ytrain.shape

(16698, 2)

In [8]:
kaggle_test.shape

(53227, 51)

In [9]:
xtrain.head()

,ID,T_BI_ifFarmRelated,T_BI_SumLendAmount,T_BI_DanbaoMethod,T_BI_QianRate,T_BI_MonthlyRate,T_BI_LoanUse,T_BI_LendTimes,T_BI_WeightRate,T_BI_IfNonPerfLoan,...,IndividualCustomer,Post,HomeCondition,Customer_IfCity,CredType,Career,MaritalStatus,Degree,PersonTrade,LoanMain_TradeClass
0,16772,0,227,1,6,313,1,1,2338,0,...,0,9,1,1,0,6,20,9,F,F
1,7497,0,675,1,8565,224,1,1,1386,0,...,0,1,1,1,0,4,20,9,H,A
2,28744,1,415,1,6972,333,1,1,2478,0,...,0,9,1,0,0,1,20,9,A,A
3,23456,0,415,3,6,270,1,1,1909,0,...,0,1,1,1,0,Z,20,9,C,H
4,11575,1,325,4,6,224,1,1,1386,0,...,0,9,1,1,0,Z,20,9,A,A

In [10]:
ytrain.head()

      ID  T_BI_IfDelay
0  16772             1
1   7497             1
2  28744             0
3  23456             1
4  11575             0

In [10]:
## merging xtrain and ytrain ###

df = xtrain.merge(right = ytrain,on = 'ID')

In [11]:
## adding a label column with train as the elements ####

df['label'] = 'train'

In [9]:
df.head()

,ID,T_BI_ifFarmRelated,T_BI_SumLendAmount,T_BI_DanbaoMethod,T_BI_QianRate,T_BI_MonthlyRate,T_BI_LoanUse,T_BI_LendTimes,T_BI_WeightRate,T_BI_IfNonPerfLoan,...,HomeCondition,Customer_IfCity,CredType,Career,MaritalStatus,Degree,PersonTrade,LoanMain_TradeClass,T_BI_IfDelay,label
0,16772,0,227,1,6,313,1,1,2338,0,...,1,1,0,6,20,9,F,F,1,train
1,7497,0,675,1,8565,224,1,1,1386,0,...,1,1,0,4,20,9,H,A,1,train
2,28744,1,415,1,6972,333,1,1,2478,0,...,1,0,0,1,20,9,A,A,0,train
3,23456,0,415,3,6,270,1,1,1909,0,...,1,1,0,Z,20,9,C,H,1,train
4,11575,1,325,4,6,224,1,1,1386,0,...,1,1,0,Z,20,9,A,A,0,train

In [12]:
## adding a label column with score as the elements ###

kaggle_test['label'] = 'score'

In [6]:
## concatenate the train and test datasets   ##########

In [13]:
concat_df = pd.concat([df,kaggle_test])

C:\Users\Alberta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [14]:
concat_df.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'ID', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use',
       'label'],
      dtype='object')

In [15]:
concat_df['label'].nunique()

2

In [16]:
concat_dfcolumns = concat_df.columns.tolist()

In [9]:
### converting the columns to sets to perform algebra ###########

## specifying the categorical columns ##

concat_dfcolumns = set(concat_dfcolumns) - set(['ID','T_BI_IfDelay','T_BI_SumLendAmount','T_BI_QianRate', 
                                                'T_BI_MonthlyRate','T_BI_WeightRate','T_BI_LoanQXValue', 
                                                'T_BI_BenchmarkRate','Rate','FaRate','label'])

In [10]:
concat_dfcolumns = list(concat_dfcolumns)

In [17]:
## this dataframe contains only the explanatory variables that are categorical ##
concat_dfcolumns

['Customer_IfCity',
 'Degree',
 'Shape',
 'IndividualCustomer',
 'MaritalStatus',
 'Times',
 'IfRebate',
 'PersonTrade',
 'BusinessKind',
 'CredType',
 'GiveMethond',
 'Period',
 'QXType',
 'RatePrecision',
 'InterestMethod',
 'Education',
 'Career',
 'T_BI_ifFarmRelated',
 'Sex',
 'IfCredit',
 'Type',
 'T_BI_LoanUse',
 'IfRollOver',
 'SilverRollFlag',
 'T_BI_IfNonPerfLoan',
 'FKRJX',
 'PrecisionType',
 'T_BI_DanbaoMethod',
 'T_BI_LendTimes',
 'Post',
 'AssureFlag',
 'LoanKind',
 'LoanMain_TradeClass',
 'HomeCondition',
 'IsFarmer',
 'RateType',
 'JxType',
 'IfReceivedInAdvance',
 'Use',
 'IfPrecise',
 'IfJX',
 'Properties']

In [11]:
### creating dummy variables for categorical variables ##

In [11]:
concat_df = pd.get_dummies(concat_df, columns = concat_dfcolumns, drop_first=False)

In [13]:
concat_df.head()

,FaRate,ID,Rate,T_BI_BenchmarkRate,T_BI_IfDelay,T_BI_LoanQXValue,T_BI_MonthlyRate,T_BI_QianRate,T_BI_SumLendAmount,T_BI_WeightRate,...,LoanKind_11,LoanKind_19,LoanKind_20,LoanKind_21,LoanKind_22,LoanKind_23,LoanKind_29,LoanKind_30,LoanKind_31,LoanKind_39
0,79.0,16772,303.0,13,1.0,169,313,6,227,2338,...,0,0,0,0,0,0,0,0,0,0
1,61.0,7497,222.0,11,1.0,79,224,8565,675,1386,...,0,0,0,0,0,0,0,0,0,0
2,1.0,28744,319.0,13,0.0,214,333,6972,415,2478,...,1,0,0,0,0,0,0,0,0,0
3,61.0,23456,265.0,4,1.0,79,270,6,415,1909,...,0,0,0,0,0,0,0,0,0,0
4,1.0,11575,222.0,7,0.0,139,224,6,325,1386,...,0,0,1,0,0,0,0,0,0,0

In [12]:
## split the full data containing all train and test##

In [17]:
alltrain = concat_df[concat_df['label'] == 'train']

In [18]:
testx = concat_df[concat_df['label'] == 'score']

In [19]:
alltrain.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'ID', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use',
       'label'],
      dtype='object')

In [20]:
testx.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'ID', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use',
       'label'],
      dtype='object')

In [21]:
alltrain = alltrain.drop('label', axis = 1)
testx = testx.drop('label', axis = 1)

In [22]:
alltrain.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'ID', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use'],
      dtype='object')

In [23]:
testx.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'ID', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use'],
      dtype='object')

In [24]:
## dropping the id column; not an explanatory variable##

alltrain = alltrain.drop('ID', axis = 1)

In [25]:
alltrain.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use'],
      dtype='object')

In [26]:
testx = testx.drop('ID', axis = 1)

In [27]:
testx.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfDelay', 'T_BI_IfNonPerfLoan',
       'T_BI_LendTimes', 'T_BI_LoanQXValue', 'T_BI_LoanUse',
       'T_BI_MonthlyRate', 'T_BI_QianRate', 'T_BI_SumLendAmount',
       'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times', 'Type', 'Use'],
      dtype='object')

In [28]:
## dropping the response variable ##

In [29]:
testx = testx.drop('T_BI_IfDelay',axis = 1)

In [30]:
testx.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfNonPerfLoan', 'T_BI_LendTimes',
       'T_BI_LoanQXValue', 'T_BI_LoanUse', 'T_BI_MonthlyRate', 'T_BI_QianRate',
       'T_BI_SumLendAmount', 'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times',
       'Type', 'Use'],
      dtype='object')

In [31]:
##alltrain = alltrain.drop('ID', axis = 1,inplace=True)

In [32]:
X = alltrain.drop(columns=['T_BI_IfDelay']).copy()

In [33]:
## response variable ##
y = alltrain['T_BI_IfDelay'].copy()

In [34]:
X.columns

Index(['AssureFlag', 'BusinessKind', 'Career', 'CredType', 'Customer_IfCity',
       'Degree', 'Education', 'FKRJX', 'FaRate', 'GiveMethond',
       'HomeCondition', 'IfCredit', 'IfJX', 'IfPrecise', 'IfRebate',
       'IfReceivedInAdvance', 'IfRollOver', 'IndividualCustomer',
       'InterestMethod', 'IsFarmer', 'JxType', 'LoanKind',
       'LoanMain_TradeClass', 'MaritalStatus', 'Period', 'PersonTrade', 'Post',
       'PrecisionType', 'Properties', 'QXType', 'Rate', 'RatePrecision',
       'RateType', 'Sex', 'Shape', 'SilverRollFlag', 'T_BI_BenchmarkRate',
       'T_BI_DanbaoMethod', 'T_BI_IfNonPerfLoan', 'T_BI_LendTimes',
       'T_BI_LoanQXValue', 'T_BI_LoanUse', 'T_BI_MonthlyRate', 'T_BI_QianRate',
       'T_BI_SumLendAmount', 'T_BI_WeightRate', 'T_BI_ifFarmRelated', 'Times',
       'Type', 'Use'],
      dtype='object')

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 101)

In [37]:
X_train.head()

,AssureFlag,BusinessKind,Career,CredType,Customer_IfCity,Degree,Education,FKRJX,FaRate,GiveMethond,...,T_BI_LoanQXValue,T_BI_LoanUse,T_BI_MonthlyRate,T_BI_QianRate,T_BI_SumLendAmount,T_BI_WeightRate,T_BI_ifFarmRelated,Times,Type,Use
10806,2,1,Z,0,1,9,99,0,61.0,1,...,117,1,270,6,415,1909,0,2.0,1,11
762,2,1,Z,0,0,9,99,0,28.0,1,...,214,1,270,6,415,1909,1,13.0,2,12
11556,2,1,Z,0,0,9,60,0,61.0,1,...,79,1,106,6,191,404,1,2.0,1,11
1091,2,1,5,0,0,9,60,0,79.0,1,...,139,1,313,6,191,2338,1,7.0,1,12
2578,2,1,0,0,1,99,99,0,1.0,1,...,30,1,359,6701,649,2711,0,2.0,1,11

In [ ]:
## decision tree and bagging ##

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

tree = DecisionTreeClassifier()
bag = BaggingClassifier(tree, n_estimators=1000, max_samples=0.8,
                        random_state=1)

bag.fit(X_train, y_train)

c:\users\alberta\anaconda3\envs\udemy\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=0.8, n_estimators=1000, n_jobs=1, oob_score=False,
         random_state=1, verbose=0, warm_start=False)

In [23]:
Test predictions
predictionbt = bag.predict(X_test)

In [24]:
from sklearn.metrics import classification_report,confusion_matrix

In [25]:
print(classification_report(y_test,predictionbt))

             precision    recall  f1-score   support

        0.0       0.90      0.91      0.90      2479
        1.0       0.86      0.86      0.86      1696

avg / total       0.89      0.89      0.89      4175

In [26]:
### bagging all training ###

In [27]:
bag.fit(X, y)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=0.8, n_estimators=1000, n_jobs=1, oob_score=False,
         random_state=1, verbose=0, warm_start=False)

In [28]:
## making test predictions ##
predictionbg = bag.predict(testx)

In [30]:
## exporting file ##
excfile = pd.DataFrame(predictionbg)
excfile.rename(columns={0:'Predicted'}, inplace=True)
excfile.Predicted = excfile.Predicted.astype(int)
kaggle_ID = kaggle_test.ID
excfile = pd.concat([kaggle_ID, excfile], axis=1)
filepath = 'predictionbt.csv'
excfile.to_csv(filepath, index = False)